<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState mode="InProc" timeout="1" />
    <customErrors defaultRedirect="Error.aspx" mode="On">
      <error statusCode="403" redirect="Error.aspx"/>
      <error statusCode="404" redirect="Error.aspx"/>
      <error statusCode="500" redirect="Error.aspx"/>
      <error statusCode="503" redirect="Error.aspx"/>

    </customErrors>
    
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument enabled="true">
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <!-- Do not include ~, this was my issue all long -->
      <clear/>
      <!-- so that IIS provided error pages are skipped -->
      <!-- add those which you like to provide a view of yours -->
      <error path="Error.aspx" responseMode="Redirect" statusCode="403"/>
      <error path="Error.aspx" responseMode="Redirect" statusCode="404"/>
      <error path="Error.aspx" responseMode="Redirect" statusCode="500"/>
      <error path="Error.aspx" responseMode="Redirect" statusCode="503"/>


    </httpErrors>
  </system.webServer>
  <!-- system.net>
    <defaultProxy enabled="false">
      <proxy usesystemdefault = "false" proxyaddress="http://localhost:44314" bypassonlocal="false"/>
    </defaultProxy>
  </system.net -->
  <connectionStrings>
    <!--add name="ASDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\NYP\Year2\S2\Practicals\AS\Assignment1\IT2163-ApplicationSecurityAssignment\App_Data\ASDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" /-->
    <add name="ASDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|ASDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>